<% include partials/header %>
<h1> this is your MY FEED PAGE  </h1>

<% myfeed.forEach(function(myfeed){ %>
  <div>
    <h4><%= myfeed.name %></h4>
    <img src="<%= myfeed.image %>">
  </div>
<% include partials/footer %>
  <% }); %>
